<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">


<suite name="Suite" verbose="1">

    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>

    <test name="Regression">
        <classes>
            <class name="com.mobile.app.OpenTheAppTest"/>
            <class name="com.mobile.app.NavigationTest"/>
        </classes>
    </test>
</suite>